<button mat-raised-button color="primary" (click)="goBack()">Back</button>

<div *ngIf="hero">
  <mat-card>
    <mat-card-title>{{ hero.name }} Details</mat-card-title>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Loyalty</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ hero.id }}</td>
          <td>{{ hero.name }}</td>
          <td>{{ hero.loyalty }}</td>
        </tr>
      </tbody>
    </table>
    <app-loyalty
      #loyalty
      [skills]="hero.skills"
      [(counter)]="hero.loyalty"
    ></app-loyalty>
    <button mat-raised-button color="primary" (click)="resetLoyalty()">
      Reset loyalty
    </button>
    <app-hero-image [src]="hero.image"></app-hero-image>
  </mat-card>

  <mat-card>
    <mat-card-title>Hero Editor</mat-card-title>
    <mat-form-field appearance="fill">
      <mat-label>Hero name</mat-label>
      <input matInput [(ngModel)]="hero.name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Hero Image</mat-label>
      <input matInput [(ngModel)]="newImage" />
    </mat-form-field>

    <div *ngFor="let skill of hero.skills">
      <h2>{{ skill.cost }} {{ skill.text }}</h2>

      <mat-form-field appearance="fill">
        <mat-label>Hero skill Text</mat-label>
        <input matInput [(ngModel)]="skill.text" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Hero skill Cost</mat-label>
        <input matInput [(ngModel)]="skill.cost" />
      </mat-form-field>
    </div>

    <button
      [disabled]="!newImage"
      (click)="onSaveImage()"
      mat-raised-button
      color="primary"
    >
      Save hero image
    </button>
  </mat-card>
</div>
